<h1>Admins</h1> <br />
<%= link_to 'New Admin', new_admin_path %>

<table id="hor-minimalist-a">
    <thead>
  <tr>
    <th scope ="col">Email</th>
    <th scope ="col">First name</th>
    <th scope ="col">Last name</th>
    <th scope ="col"></th>
    <th scope ="col"></th>
    <th scope ="col"></th>
  </tr>
</thead>

<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.email %></td>
    <td><%= admin.first_name %></td>
    <td><%= admin.last_name %></td>
    <td><%= link_to 'Show', admin %></td>
    <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
    <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


