<div id ="wrapper">

<h1>Entries</h1>

<table id="hor-minimalist-a" >
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Email</th>
    <th scope="col">Zip code</th>
    <th scope="col">Cable provider</th>
    <th scope="col">Favorite Team</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>
<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.first_name %></td>
    <td><%= entry.last_name %></td>
    <td><%= entry.email %></td>
    <td><%= entry.zip_code %></td>
    <td><%= entry.cable_provider %></td>
    <td><%= entry.favorite_nhl %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>

<br />

<% #link_to 'New Entry', new_entry_path %>
