<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @entry.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @entry.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @entry.email %>
</p>

<p>
  <b>Zip code:</b>
  <%= @entry.zip_code %>
</p>

<p>
  <b>Cable provider:</b>
  <%= @entry.cable_provider %>
</p>

<p>
  <b>Favorite nhl:</b>
  <%= @entry.favorite_nhl %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
