<%= image_tag("msgcom_header.png", :class=>'msgcom_header') %>
<div class="msgcom">
	
	<div class="row finder">
		<h2>MSG Channel Finder</h2>
		<a class="channel_button" href="http://www.msg.com/schedule/schedule-channel-finder.html" target="_blank">MSG Channel Finder</a>
	</div>

	<div class="row go_to_row">
		<a class="go_to" href="http://www.msg.com/knicks" target="_blank">Go to MSG.com/Knicks for complete Knicks coverage on MSG</a>
	</div>

	<div class="row connect">
		<%= image_tag("connect_header.png", :class=>'connect_header') %>
	</div>	

	<div class="connect_row">
		<ul>
			<li><div class="connect_image"><%= image_tag("msg_tw.png") %></div><h2>MSG Networks</h2><div class="twitter_button"><a href="https://twitter.com/msgnetworks" target="_blank"></a></div><div class="fb-like" data-href="https://www.facebook.com/MSGNetworks" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></li>
			<li><div class="connect_image"><%= image_tag("knicks_tw.jpeg") %></div><h2>NY Knicks</h2><div class="twitter_button"><a href="https://twitter.com/nyknicks" target="_blank"></a></div><div class="fb-like" data-href="https://www.facebook.com/NYKnicks" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></li>
			<li><div class="connect_image"><%= image_tag("hahn_tw.png") %></div><h2>Alan Hahn</h2><div class="twitter_button"><a href="https://twitter.com/alanhahn" target="_blank"></a></div><div class="fb-like" data-href="https://www.facebook.com/knicksfix" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></li>
			<li><div class="connect_image"><%= image_tag("walt_tw.jpeg") %></div><h2>Walt Frazier</h2><div class="twitter_button"><a href="https://twitter.com/Waltfrazier" target="_blank"></a></div></li>
			<li><div class="connect_image"><%= image_tag("trautwig_tw.png") %></div><h2>Al Trautwig</h2><div class="twitter_button"><a href="https://twitter.com/altrautwig" target="_blank"></a></div></li>
			<li><div class="connect_image"><%= image_tag("wally_tw.jpeg") %></div><h2>Wally Szczerbiak</h2><div class="twitter_button"><a href="https://twitter.com/Wallyball" target="_blank"></a></div></li>
			<li><div class="connect_image"><%= image_tag("tina_tw.jpeg") %></div><h2>Tina Cervasio</h2><div class="twitter_button"><a href="https://twitter.com/TinaCervasio" target="_blank"></a></div><div class="fb-like" data-href="https://www.facebook.com/TinaCervasio" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></li>
			<li><div class="connect_image"><%= image_tag("bill_tw.jpeg") %></div><h2>Bill Pidto</h2><div class="twitter_button"><a href="https://twitter.com/BillPidto" target="_blank"></a></div></li>
			<li><div class="connect_image"><%= image_tag("jill_tw.jpeg") %></div><h2>Jill Martin</h2><div class="twitter_button"><a href="https://twitter.com/JillMartin" target="_blank"></a></div><div class="fb-like" data-href="https://www.facebook.com/jillmartinofficial" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></li>
			<li><div class="connect_image"><%= image_tag("dancers_tw.jpeg") %></div><h2>NYK City Dancers</h2><div class="twitter_button"><a href="https://twitter.com/nykcitydancers" target="_blank"></a></div><div class="fb-like" data-href="https://www.facebook.com/nyknickscitydancers" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></li>
		</ul>
	</div>		

</div>