<div id="covered-body">
	<%= render 'shared/fb_script' %>
	<div id="wrapper">

<table class = "team_lower_labels">
			<tr>
				<td class="team_labels"><%= image_tag ('rangerslogo.png') %></td>
				<td class="team_labels"><%= image_tag 'devilslogo.png' %></td>
				<td class="team_labels"><%= image_tag 'islanderslogo.png' %></td>
				<td class="team_labels"><%= image_tag 'saberslogo.png' %></td>
				<tr>
				<td class="team_buttons"><a class="rang_button" href="http://www.msg.com/teams/rangers.html" target="_blank"></a></td>
				<td class="team_buttons"><a class="dev_button" href="http://www.msg.com/teams/devils.html" target="_blank"></a></td>
				<td class="team_buttons"><a class="isl_button" href="http://www.msg.com/teams/islanders.html" target="_blank"></a></td>
				<td class="team_buttons"><a class="sbr_button" href="http://www.msg.com/teams/sabres.html" target="_blank"></a></td>
			</tr>
			</tr>
		</table>
	</div>
	
	<%= render ('shared/gauges') %>
</div>