<!DOCTYPE html>

<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title>MSGNhl</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "global" %>
	<%= stylesheet_link_tag    "form_errors" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

	<script type="text/javascript">

	$(document).ready(function(){
		$('.button').click(function() {
			$(this).toggleClass('button').toggleClass('button1').toggleClass('active');
		});   
	});
	</script> 
 <%= render('shared/google_analytics') %>
</head>
<body>

	<div class="fb-like" data-href="http://google.com" data-send="true" data-width="450" data-show-faces="true"></div>
	<br />

	<%= yield %>
	
	<%= render 'home/thanks_screen' %>
	<div class="fb-like" data-href="http://google.com" data-send="true" data-width="450" data-show-faces="true"></div>

<%= render ('shared/gauges') %>
</body>
</html>

